

body{
    background: whitesmoke;
}
.main{
    margin: auto;
    padding: 10px;
    width: 600px;
    height: 400px;
    background:whitesmoke ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.117);
}

h3{
    text-align: center;
    color: green;
}

h1{
    text-align: center;

}

.text{
    width: 70%;
}

.date{
    width: 30%;
}

.expense{
   margin-left: 13rem;
   background-color: rgb(35, 209, 78);
   color: white;

}

.table th{
    width: 10%;
    border: 1px solid black;
    
      
}

.table td{
    border: 1px solid black;
    width: 10%;
    height: 50%;
}

.table tr{
    width: 60;
    
}
input{
    border-radius: 5px;
}
button{
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 10%;
}
table{
    border-radius: 5px;
}